.card-img-top{
    margin-top: 1rem;
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.project-title{

}
.project-subtitle{
    padding-left: 0;
}

hr{
    /*border: 1px solid;*/
    /*width: 60%;*/
    /*margin: 0 auto 2rem 0;*/
}

video{
    margin-bottom: 5rem;
}

.project-post-page > a{
    margin: 1rem 0 1rem 2rem;
}

