{% include 'header.html' %}
<body>
    <div class="container-fluid blog-page">
        {% include 'navbar.html' %}
        <div class="blog">
            <h2 id="blog-title">Gerrard's Blog</h2>
            <div class="scrolling-blog">
                    {% for blog in blog_posts %}
                <a href="{{ url_for('blog_post', post=blog.id ) }}">
                    <div class="blog-section">
                        <h1 class="blog-titles">{{blog.title}}</h1>
                        <h3 class="blog-subtitle">{{blog.subtitle}}</h3>
                        <small class="text-muted blog-author">Posted by <strong>Garo Nazarian</strong> on November 9, 2021</small>
                        <hr>
                    </div>
                </a>

                    {% endfor %}


            </div>
        </div>
    </div>
{% include 'footer.html' %}

</body>
</html>