{% include 'header.html' %}
<body>
    <div class="container-fluid blog-post-page">
        {% include 'navbar.html' %}
        <div class="blog-post">
            <h2 id="blog-title">Gerrard's Blog</h2>
            <div>
                <div>
                    <h1 class="blog-titles">{{blog.title}}</h1>
                    <h3 class="blog-subtitle">{{blog.subtitle}}</h3>
                    <h3 class="blog-body">{{blog.body}}</h3>
                    <small class="text-muted blog-author">Posted by <strong>Garo Nazarian</strong> on November 9, 2021</small>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% include 'footer.html' %}
</body>
</html>