{% include 'header.html' %}
<body>
    <div class="container-fluid contact-page">

        {% include 'navbar.html' %}

        <div class="contact">
            <h2>Contact Me</h2>
            <div class="row">
              <div class="col-md-6 contact-item">
                <input type="text" class="form-control" placeholder="Name" aria-label="First name">
              </div>
              <div class="col-md-6 contact-item">
                <input type="email" class="form-control" placeholder="Email" aria-label="Last name">
              </div>
            </div>
            <div class="row contact-item">
                <input type="text" class="form-control" placeholder="Subject" aria-label="First name">

            </div>
            <div class="row contact-item">
                <textarea class="form-control" rows="6" placeholder="Message" aria-label="First name"></textarea>

            </div>
            <button type="button" class="btn btn-dark btn-lg">Send Message</button>

        </div>

    </div>
{% include 'footer.html' %}


</body>
</html>