{% include 'header.html' %}
<body>
{% include 'javascript_imports.html' %}
<script src="{{ url_for('static', filename='landing-page-animation.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='nighttime.css') }}"/>
<script src="{{ url_for('static', filename='nightmode.js') }}"></script>

<section id="titleStyle">
    <div class="container-fluid">
    <!-- Nav Bar -->
    {% include 'navbar.html' %}
    <!-- Title -->
      <div class="title-body">
          <div class="name ">
              <span class="animate-name"></span>
              <div class="first-name">GARO</div>
              <div class="last-name">NAZARIAN</div>
          </div>
      </div>
        <div class="wrapper">
              <div class="marquee sliding-cta">
                    <p>
                        PROFESSIONAL SOFTWARE ENGINEER. EXPLORE MY ABOUT PAGE FOR MY WORKS. SCROLL FOR RECENT WORKS. CONTACT ME. LET'S COLLABORATE.
                    </p>
<!--                    <p>-->
<!--                        PROFESSIONAL SOFTWARE ENGINEER. EXPLORE MY ABOUT PAGE FOR MY WORKS. SCROLL FOR RECENT WORKS. CONTACT ME. LET'S COLLABORATE.-->
<!--                    </p>-->
              </div>
    </div>

    </div>
<!--TODO: Clean up the Next Previous buttons and optimize for mobile!-->
</section>
<section id="body-section">
    <h1 class="ICode typed-out" >I Code Everyday</h1>
    <h3>Most recent Projects 👨‍💻</h3>
    {% include 'recent_projects.html' %}
</section>

<section class="calendar">
    <h1>Let's Talk</h1>
    <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/garonazarian/30min" style="min-width:320px;height:750px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
</section>
{% include 'footer.html' %}
</body>
</html>