<nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Gerrard's Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
<!--    TODO: ADD DARK MODE TO MY WEBSITE-->
<!--        <label class="switch">-->
<!--              <input type="checkbox">-->
<!--              <span class="slider round"></span>-->
<!--        </label>-->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href={{url_for('home')}}>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about/1">About</a>
            </li>
          {% if not current_user.is_authenticated %}

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
              </li>
                {% endif %}
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                </li>
          {% endif %}


            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
