<link rel="stylesheet" href="{{ url_for('static', filename='card_flip.css') }}"/>

{% set image_types = ['png', 'jpeg'] %}

<!--
TODO: Add Github links AND FINISH Creating Demo Pages for each project
TODO: Redo the pagination as to refresh part of page content (div) only (not whole page)
https://stackoverflow.com/questions/46431949/mix-flask-jinja-pagination-with-refresh-of-part-of-page-content-div-only-not
-->
    <div class="container ">
    <div class="row">
       {% for posts in project_posts %}
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card card-flip h-100">
                <div class="card card-front text-white ">
                    <div class="card-header">
                             {% for type in image_types %}
                                <img src="./../static/images/projectImages/{{posts.title}}.{{type}}" onerror="this.style.display='none'" class="card-img-top" alt="...">
                              {% endfor %}
                    </div>
                    <div class="card-body">
                        <h3 class="card-text">{{posts.title}}</h3>
                        <p class="card-text">{{posts.subtitle}}</p>
                    </div>
                      <div class="card-footer">
                                <footer class="text-muted">Last Updated: {{posts.date}}</footer>
                      </div>
            </div>
            <div class="card-back bg-white">
                <div class="card-body">
                    <p class="card-title back">Demonstration how the project works with pictures and/or videos.</p>
                    <a  href="{{ url_for('project_posts', project_id=posts.id ) }}" class="btn btn-outline-secondary ">Demo</a>
                    <h2 class="card-text back">Github</h2>
                    <a href="#" class="btn btn-outline-secondary">Github</a>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
</div>