<div id="testimonial-carousel" class="carousel slide" data-bs-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <h2>I no longer have to eat spam since I made this project.</h2>
          <img class="testimonial-images" src="./../static/images/codeIcon.png" alt="dog-profile">
          <p>First Project</p>
        </div>
        <div class="carousel-item" >
          <h2 class="testimonial-text">This project was very fun, I think.</h2>
          <img class="testimonial-images" src="./../static/images/ComputerIcon.png" alt="lady-profile">
          <p>Second Project</p>
        </div>
      </div>
      <a class="control-button carousel-control-prev" type="button" role="button" href="#testimonial-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="">Previous</span>
      </a>
      <a class="control-button carousel-control-next" type="button" role="button" href="#testimonial-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
</div>
